
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 3.5rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

#popup-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

:root {
    --card-size: 70px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #2c3e50;
    margin: 1rem;
}

h1 {
    color: #34495e;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Header */
.header-bar {
    display: flex;
    padding: 20px;
    align-items: center;
}

    .header-bar img {
        height: 100px;
        display: flex;
        margin-left: 1%;
        margin-right: 2%;
    }

.poke {
    color: red;
    text-shadow: 2px 2px 2px black;
    font-weight: 900;
}

.tool {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: 900;
}


/* Page */
.picker-section {
    display: flex;
    gap: 20px;
    height: 800px;
    width: 100%;
    margin-bottom: 1rem;
}

.left-panel {
    width: 800px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right-panel {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.showdown-section {
    display: flex;
    gap: 20px;
    width: 100%;
}

    .showdown-section .team-section {
        width: 70%;
        display: flex;
    }

    .showdown-section .type-chart-section {
        width: 40%;
        display: flex;
    }

/* Filters */
.filters {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}
.filter-section {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 1rem;
    background-color: #f9f9f9;
}

.search-box-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.search-box {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 100%;
}

.checkbox-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.checkbox-item {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.3rem;
}


    .filters h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 600;
        color: #34495e;
        flex-basis: 100%;
    }

.type-checkboxes {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 15px;
}

.gen-checkboxes {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.filters button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 140px;
    height: 30px;
}

    .filters button:hover {
        background-color: #2980b9;
    }

.filters label {
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    color: #34495e;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.filters input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #3498db;
}

.stat-sliders {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.8rem;
}

.stat-slider {
    background-color: #f2f2f2;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

.slider-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #34495e;
}

.stat-label {
    font-weight: 700;
}

.slider-container {
    position: relative;
    height: 20px;
}

.range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #ddd;
    outline: none;
    border-radius: 20px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

    .range-input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background: #3498db;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: all;
        border: none;
        box-shadow: 0 0 1px rgba(0,0,0,0.3);
    }

/* Team */
.team {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: white;
}

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

.export-team-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

    .export-team-button:hover {
        background-color: #2980b9;
    }


    .team h3 {
        font-weight: 600;
        color: #34495e;
        display: flex;
        justify-content: center;
    }

    .team .mini-team {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 1rem;
        margin-top: 1rem;
    }

.full-team-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
    margin: 20px;
}


.team-slot,
.empty-slot {
    height: 330px;
    width: 100%;
    box-sizing: border-box; 
    border-radius: 10px;
    padding: 10px;
    background: #f9f9f9;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.empty-slot {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.empty-slot img {
    width: 300px;
}

.slot-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;
    height: 100px;
    flex-shrink: 0;
    position:relative;
}

.team-buttons {
    display: flex;
    gap: 10px;
}

.clear-team-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.export-button-container {
    position: absolute;
    top: 8px;
    right: 8px;
}

.export-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke-header-info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.info-name {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.info-types {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.tb-type-icon {
    padding: 2px 6px;
    border-radius: 12px;
    background-color: #ccc;
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
}

.slot-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;
}

    .slot-details > div {
        flex: 1;
        min-width: 0; 
    }

.talent-badge {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 2px 6px;
    margin: 2px;
    font-size: 0.75rem;
    color: #333;
}

    .talent-badge.hidden {
        font-style: italic;
        opacity: 0.6;
    }

.ev-selectors,
.nature-selector,
.move-selectors {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ev-input {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

    .ev-input input {
        width: 50px;
        padding: 2px;
        font-size: 0.8rem;
        box-sizing: border-box;
    }

.ev-remaining {
    font-size: 0.75rem;
    text-align: right;
    color: #555;
}

.nature-selector select,
.move-selectors select {
    width: 100%;
    padding: 4px;
    font-size: 0.85rem;
    box-sizing: border-box;
}

.team-slot, .team-slot * {
    word-wrap: break-word;
    max-width: 100%;
}

.pokedex {
    flex: 1;
    height: 100%;
    min-height: 800px; 
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.pokedex-header {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.pokedex-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pokedex-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center; 
}

.sort-button,
.randomize-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sort-button:hover,
    .randomize-button:hover {
        background-color: #1c4e8b;
    }

    .randomize-button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
        color: #666;
    }



.pokemon-panel {
    overflow-y: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-size), auto));
    gap: 1rem;
    justify-items: center;
    width: 100%;
    padding: 20px;
}

.no-pokemon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 350px;
    width: 100%;
    font-size: 1.5rem; 
    color: #888; 
    text-align: center;
}

/* Pokemon */
.card {
    padding: 0.2rem;
    width: var(--card-size);
    height: var(--card-size);
    background: #fafafa;
    border-radius: 14px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgb(0 0 0 / 0.2);
    }

    .card img {
        width: auto;
        height: var(--card-size);
        object-fit: contain;
        pointer-events: none;
        position: relative;
        display: inline-block;
    }

.star-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 18px;
    color: gold;
    background: white;
    border-radius: 50%;
    padding: 2px;
    opacity: 0.8;
}

.alert-icon {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 22px;
    line-height: 1;
    border-radius: 10%;
    padding: 1px 3px;
    user-select: none;
}

/*Type Chart*/
.type-chart-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    width: 100%;
}

.type-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

    .type-chart-header h3 {
        font-weight: 600;
        color: #34495e;
    }

.type-chart-table {
    width: 100%;
    padding: 20px;
    text-align: center;
}

    .type-chart-table th,
    .type-chart-table td {
        border: 1px solid #ccc;
        padding: 4px;
        vertical-align: middle;
        text-align: center;
        font-size: 0.95em;
    }

    .type-chart-table thead th {
        background-color: #f8f8f8;
        font-weight: bold;
    }

    .type-chart-table tbody tr:nth-child(even) {
        background-color: #f4f4f4;
    }

.tb-type-header {
    width: 100px;
    font-weight: bold;
    background-color: #eaeaea;
    text-align: left;
    padding-left: 10px;
}

.tb-type-icon {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

td {
    padding: 0;
}

/* Couleurs par type */
.tb-type-normal {
    background-color: #A8A77A;
}

.tb-type-fire {
    background-color: #EE8130;
}

.tb-type-water {
    background-color: #6390F0;
}

.tb-type-electric {
    background-color: #F7D02C;
}

.tb-type-grass {
    background-color: #7AC74C;
}

.tb-type-ice {
    background-color: #96D9D6;
    color: black;
    text-shadow: 1px 1px 1px white;
}

.tb-type-fighting {
    background-color: #C22E28;
}

.tb-type-poison {
    background-color: #A33EA1;
}

.tb-type-ground {
    background-color: #E2BF65;
    color: black;
    text-shadow: 1px 1px 1px white;
}

.tb-type-flying {
    background-color: #A98FF3;
}

.tb-type-psychic {
    background-color: #F95587;
}

.tb-type-bug {
    background-color: #A6B91A;
}

.tb-type-rock {
    background-color: #B6A136;
}

.tb-type-ghost {
    background-color: #735797;
}

.tb-type-dragon {
    background-color: #6F35FC;
}

.tb-type-dark {
    background-color: #705746;
}

.tb-type-steel {
    background-color: #B7B7CE;
    color: black;
    text-shadow: 1px 1px 1px white;
}

.tb-type-fairy {
    background-color: #D685AD;
}


.slot-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .slot-pokemon img {
        max-width: 50px;
        height: auto;
    }

.tb-pokemon-name {
    margin-top: 4px;
    font-size: 0.85em;
}

.tb-weak-header,
.tb-resist-header {
    background-color: #ffeaea;
    font-weight: bold;
    width: 60px;
}

.tb-weak-header {
    color: #b00000;
}

.tb-resist-header {
    color: #00cc00;
}

.tb-weak-header, .tb-resist-header,
.type-chart-table td:last-child,
.type-chart-table td:nth-last-child(2) {
    text-align: center;
    font-weight: bold;
}

/* Type Row */
.weak-0 {
    background-color: #ffffff;
}

.weak-1 {
    background-color: #ffe0e0;
}

.weak-2 {
    background-color: #ffb3b3;
}

.weak-3 {
    background-color: #ff8080;
}

.weak-4 {
    background-color: #ff4d4d;
}

.weak-5 {
    background-color: #ff1a1a;
}

.weak-6, .weak-max {
    background-color: #cc0000;
    color: white;
}

.resist-0 {
    background-color: #ffffff;
}
.resist-1 {
    background-color: #e0ffe0;
}

.resist-2 {
    background-color: #b3ffb3;
}

.resist-3 {
    background-color: #80ff80;
}

.resist-4 {
    background-color: #4dff4d;
}

.resist-5 {
    background-color: #1aff1a;
}

.resist-6, .resist-max {
    background-color: #00cc00;
    color: white;
}

.type-x4, .type-x3 {
    color: #cc0000;
    font-weight: bold;
}
.type-x2, .type-x15 {
    color: #cc0000;
}
.type-x0-5 {
    color: #00cc00;
}
.type-x0-25 {
    color: #00cc00;
    font-weight: bold;
}
.type-x0 {
    color: black;
    font-weight: bold;
} 

/* Media screen */
@media screen and (max-width:1024px) {

}
/*767*/